body {
  background-color: #F0FFFF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 10%;
}

h1 {
    color: #6495ED;
}

h3 {
    color: #5F9EA0;
}